*~
*.[aod]
[Bb]uild*
.config*
.gitignore
htrdr
htrdr_*args.h
htrdr-atmosphere
htrdr-atmosphere.1
htrdr-combustion
htrdr-combustion.1
htrdr-planets
htrdr-planets.1
htrdr_version.h
*.pc
*.so
*.sw[po]
tags
